*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    border-right: 3px solid grey;
    position:fixed;
    width: 300px;
}

html,body{
    scroll-behavior: smooth;
}

body{
    display: flex;
}

#main-doc{
    margin-left: 310px;
}

#navbar header{
    font-weight: 500;
    font-size: 30px;
    padding: 20px;
}

#navbar ul li{
    list-style-type:none;
    border-top: 1px solid grey;
    padding: 12px 0;
}

#navbar ul li:last-of-type{
    padding-bottom: 60px;
}

#navbar ul{
    padding: 0;
}

.nav-link{
    text-decoration: none;
    color: rgb(76, 76, 76);
    padding-left:20px;
    font-size: 17px;
}

.main-section{
    /* border: 2px solid black; */
    padding: 30px;
    padding-bottom: 0px;
}

.main-section header{
    font-weight: 600;
    font-size: 30px;
}

.main-section p{
    margin: 20px 0;
    padding: 0 15px;
    color: grey;
}

.list{
    /* border: 2px solid green; */
    padding: 0 75px;
}

.list ul li{
    margin: 15px 0;
    color: grey;
}

pre {
    background-color: #f4f4f4;
    /* padding: 4px 0; */
    /* border: .2px solid #ccc; */
    border-radius: 5px;
    padding: 0;
    width: auto;
    height: auto;
}


code {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    color: #212020;
    margin: 0;
    /* border: 1px solid black; */
}

@media screen and (max-width:768px) {
   
    #navbar{
        border-left: 3px solid grey;
        border-bottom: 3px solid grey;
        position:absolute;
        top:0px;
        width: 100%;
        text-align: center;
    }

    main{
        position: absolute;
        top: 800px;
        /* border: 2px solid black; */
        
    }

    #main-doc{
        margin: 0;
        width: 100%;
        
    }

    pre,code{
        width: 100%;
        font-size: 10px;
        
    }
}